<h1>Coach Answer</h1>

<span id = "coach-answer"><%= @answer %></span>
<br>
<br>
<!--Add a link to /ask on the answer.html.erb view using the link_to Rails helper. -->
<%= link_to "ask", ask_path  %>
